SHIFTARC_NODE_HOME=
SHIFTARC_API_PORT=8080
SHIFTARC_DB_URL=jdbc:postgresql://localhost:5432/shiftarc
SHIFTARC_DB_USERNAME=shiftarc_app
SHIFTARC_DB_PASSWORD=
SHIFTARC_TEST_DB_URL=jdbc:postgresql://localhost:5432/shiftarc_test
SHIFTARC_E2E_DB_URL=jdbc:postgresql://localhost:5432/shiftarc_e2e
